<h1>Welcome to the User Page</h1>
<hr />


<table class='table table-striped table-responsive'>
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <th>Show</th>
  </thead>
  <tbody id='users'>
    
  </tbody>
</table>





