<h1> Add a new User</h1>
<form id='new user'>

  <input placeholder='First Name' name='user[first_name]' required=true>
  <input placeholder='Last Name' name='user[last_name]'>
  <input placeholder='xxx-xxx-xxxx' name='user[phone_number]' type='number'>
  <button class='btn btn-primary' type='submit'>Submit</button>
</form>